*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1a2e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#gameCanvas{
     border: 2px solid #444;
}